

<!-- <div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <!-- <div class="card-body"> -->
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  <!-- </div> -->
<!-- </div> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch
</button>

<!-- Modal -->
<div class="modal fade modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BECOME A MEMBER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input placeholder="First Name">
        <input placeholder="Last Name">
        <input placeholder="Email Address">
        <input placeholder="Password">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">JOIN!</button>
      </div>
    </div>
  </div>
</div>



<!-- <div id="e1_2">
    <div id="e15_3"></div>
    <div id="e15_4"></div><span id="e15_5">Login</span>
    <div id="e16_7"></div><span id="e16_8">Sign-up</span>
    <div id="e15_9"></div><span id="e15_11">ACTIVE STORMS
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </span>
    <div id="e16_12"></div>
    <div id="e15_7"></div><span id="e15_8">ABOUT 
  STORM CHASERS
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </span>
    <div id="e16_18"></div>
    <div id="e15_10"></div><span id="e15_12">STORM PHOTO GALLERY
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </span>
    <div id="e16_16"></div>
    <div id="e54_28"></div>
    <div id="e54_25"></div><span id="e54_26">Join Us!</span><span id="e54_30">Every expert began as an amateur, begin the chase today</span>
    <div id="e54_31"></div>
  </div> -->
